@font-face{
  font-family: get-schwifty;
  src: url(fonts/get-schwifty.ttf);
}

html{
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06aecc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-image: linear-gradient(black, #06aecc)
}

h1{
  font-size: 64px;
  color: #02b0ca;
  -webkit-text-stroke: 2px #6dbc79;
  font-family: get-schwifty;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

figure{
  background-color: #55C1FF;
  width: 250px;
  height: 250px;
  padding: 0 5px;
  padding-top: 5px;
  border-radius: 20px;
}

figcaption {
  padding-top: 0.5rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
}

.directions{
  padding-left: 1rem;
}
