@font-face{
  font-family: get-schwifty;
  src: url(fonts/get-schwifty.ttf);
}

@import url(//db.onlinewebfonts.com/c/4d61699dc665f1ba79b9796089b48f91?family=MotelXeniaW00-Regular);

html{
  height: 100%;
}
body {
  color: white;
  min-height: 100%;
  margin: 0;
  font-family: MotelXeniaW00-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06aecc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-image: linear-gradient(black, #06aecc)
}

h1{
  font-size: 3rem;
  line-height: 5rem;
  color: #02b0ca;
  -webkit-text-stroke: 2px #6dbc79;
  font-family: get-schwifty;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

figure{
  background-color: #55C1FF;
  width: 80%;
  height: min-content;
  padding: 0 5px;
  font-size: 1.25rem;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
}

figcaption {
  text-align: center;
}

p.directions{
  font-size: 2rem;
  margin: 0;
  padding-left: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  padding-right: 3rem;
}

img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
}
